/*
@import "../node_modules/bootstrap/scss/functions";


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Ergänzung individueller styles mit Sass Utility-API
@each $key, $val in $theme-colors {
    .header-bg-#{$key} {
        background-color: $val;
    }
}

$default-colors: (
    "bluegreen": #2b6777,
    "grey": #c8d8e4,
    "darkgrey": #dacdcd,
    "aqua-marine-blue": #52ab98
);

    $utilities: (
    
    "background-color": (
        property: background-color,
        class: bg,
        values: 
            map-merge($theme-colors, $default-colors)
        ),
    "border-color": (
        property: border-color,
        class: border,
        values: map-merge($theme-colors, $default-colors)
        ),
    "color": (
        property: color,
        class: text,
        values: map-merge($theme-colors, $default-colors)
        ),

    );


        #logo {
            width: 50%;
            height: auto;
            max-width: 100px;
            max-height: 100px;
        }


$body-bg: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
/*
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
*/